# Ignore content folders
00_GTD/
01_FleetingNotes/
02_LiteratureNotes/
03_PermanentNotes/
04_Templates/
Daily/
Digital Twin/
Morphic/
OLD_VAULT/

# Ignore dependencies
node_modules/
package-lock.json

# Ignore build/dist
dist/
build/

# Ignore hidden folders
.obsidian/
.trash/
.tmp/
.backup/

# Ignore git
.git/

# Ignore markdown files
*.md